ACCESS_TOEKN=your_personal_access_token # https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token
AUTHORITIES_YAML_ROUTE=https://raw.githubusercontent.com/Path-Check/trusted-authorities/master/production/authorities.1.0.1.yaml