<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.pathcheck.covidsafepaths">

  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
  <uses-feature android:name="android.hardware.bluetooth" />
  <uses-permission android:name="android.permission.BLUETOOTH" />

</manifest>
